/.vscode
/20_108.bmp
/4410_value.csv
/4410_value_none.csv
/68+9570_value.csv
/68+9570_value_255.csv
/68+9570_value_none.csv
/dmask.bmp
/fineBase_gp0.bmp
/fineBase_gp0_r.bmp
/for_test
/images
/loss_log.csv
/model_configs
/model_weights
/nums.pt
/output
/pipeMask.bmp
/tst.csv